
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #5da6c0 !important;
}
.user_card {
    height: 500px;
    width: 700px;
    margin-top: auto;
    margin-bottom: auto;
    background: #afbfd8;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0a, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 100px;
}
.save_btn {
    width: 70%;
    background: rgb(44, 85, 35)!important;
    color: white !important;
}
.save_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.save_btn {
    width: 70%;
    background: rgb(44, 85, 35)!important;
    color: white !important;
}
.save_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.content_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #1B4F72!important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.float-container {
    /* border: 3px solid rgb(59, 53, 53); */
    padding: 20px;
}

.float-child {
    width: 50%;
    height: 100%;
    padding: 20px;
    /* border: 2px solid red; */
}  
.float-section {
    width: 50%;
    height: 300px;
    padding: 20px;
    /* border: 2px solid rgb(21, 114, 221); */
    margin-top: 250px;
    margin-left: 20px;

}

